
<div class="hero-unit">
        <p><a href="http://qd.firemail.wang/portal.php?mod=view&aid=12">启迪教育</a></p>
    <p>----------项目描述----------<br/>
    初期阶段主要实现小学教材中的光盘音视频资源、中国古文加上字幕[参考大学示例 在 启迪教育 上搜索 大学 关键字] ，后期进一步扩大范围，
        包括用html5做动画以演示算法过程、以及所有用flash做过的教育相关的动画或游戏用html5重构等<br/>
        <a href="http://www.firemail.wang/forum.php?mod=viewthread&tid=144&extra=page%3D1">发起初衷</a><br/>

        <a href="http://www.firemail.wang/forum.php?gid=68">加入论坛</a><br/>
    </p>
    <p>
    ----------技术实现----------<br/>
    a.目标：基于html5技术实现跨平台方案<br/>
    b.各平台实现方案构想：<br/>
    <span style="color:red">移动平台(Android\IOS): </span>React Native（是Facebook推出的一个用JavaScript编写iOS，Android程序）或 Wex5   将进一步选型<br/>
    <span style="color:red">PC平台(windowds\linux\mac):</span> xulrunner(火狐同源技术内置火狐引擎)，实现跨平台，且程序实现转为基于html5+javascript构建<br/>
    <span style="color:red">WEB平台：</span>Express+ mongodb + node.js<br/>

        <a href="http://www.firemail.wang:3000/">使用体验</a><br/>
    </p>
    <p>
    ----------免费开源----------<br/>
    加入研发群获取源码<br/>
    加入用户群：<br/>
    QQ群号：483560523<br/>
    <img src="./images/qidijiaoyu.png"/><br/><br/>
    加入研发群：<br/>
    QQ群号：511587662<br/>
    <img src="./images/qidijiaoyu_dev.png"/><br/><br/>
    </p>

</div>