<%if(!user){%>
    <div class="hero-unit">
        <h1>欢迎来到 启迪教育</h1>
        <p>让学习更自主、更安心、免费、易用、分享、快速查找</p>
        <p>
            <a class="btn btn-primary btn-large" href="/login">登录</a>
            <a class="btn btn-large" href="/reg">立即注册</a>
        </p>
    </div>
<%}else{%>
<%- partial('say') %>
<%}%>

<% include posts %>