<div class="hero-unit">
    <h1>欢迎来到 启迪教育</h1>
    <p>让学习更自主、更安心、免费、易用、分享、快速查找</p>
    <p>
        <a class="btn btn-primary btn-large" href="/login">登录</a>
        <a class="btn btn-large" href="/reg">立即注册</a>
    </p>
</div>
<div class="row">
	<div class="span4">
		<h2>firemail发布：<h2>
		<p>国文大学在线mp3，带字幕。</p>
	</div>
	<div class="span4">
		<h2>jimu发布：<h2>
		<p>小学一年级英语在线mp3，带字幕。</p>
	</div>
</div>