<script src="/javascripts/modpwd.js"></script>
<div class="hero-unit">
    <form method="post" action="/modpwd" class=" form-inline center" style="text-align:center;">
        <span class="label label-info">新密码</span><input type="text" class="span8" name="newpwd">
        <button type="submit" class="btn btn-success btn-large">确定</button>
    </form>

</div>